:root {
    //COLORS
    --color-background-light: rgb(13, 13, 36);
    --color-background-dark: rgb(9, 10, 28);
    --text-muted: rgb(160, 153, 159);
    --text-muted-light: rgb(192, 184, 185);
    --text-muted-dark: rgb(97, 85, 92);
    --blue-background: rgb(57, 108, 198);

    //FONTS
    --font-size-extra-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-regular: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-extra-large: 2rem;

}