.messages {
    margin: 2.5rem;
    color: var(--text-muted);
    font-size: var(--font-size-small);

    & p {
        margin-bottom: 0;
    }

    &__header {
    }

    &__search {
        @include search;
        flex: 0 0 40%;

        &--input {
            width: 90%;
        }
    }

    &__admin {
        flex: 0 0 50%;
        @include blue-header;
        text-align: center;
        margin-left: 7rem;
    }

    &__print {
        flex: 1;
        margin-left: 2rem;
    }

    &__list {
        flex: 0 0 40%;
        border-right: 1px solid var(--text-muted-dark);
        padding-right: 2rem;

        &--header {
            margin-bottom: 3rem;
            
            & > * {
                margin-right: 3.5rem;
            }

            &-users,
            &-activities {
                padding: .4rem 2.6rem;
                font-size: var(--font-size-small);
                border-radius: 20px;
            }

            &-activities {
                color: var(--text-muted);
                border: 1px solid var(--text-muted-dark);
            }
        }

        &--items {
            padding-right: 2.5rem;
        }

        &--item {

            &:not(:first-child) {
                margin-top: 2rem;
            }

            &-status-active,
            &-status-inactive {
                height: 1.5rem;
                width: 1.8rem;
                border-radius: 50%;
                margin-right: 3rem;
                margin-top: 1.2rem;
            }

            &-status-active {
                background-color: #d1b056;
            }

            &-status-inactive {
                background-color: #202534;
            }

            &-wrapper {
                width: 100%;
                border-bottom: 1px solid var(--text-muted-dark);
            }
            
            &:last-child .messages__list--item-wrapper {
                border-bottom: none;
            }

            &-data {
                margin: 1.2rem 0 1.5rem 0;
            }

            &-name {
                color: white;
                margin-bottom: .8rem !important;
            }

        }

        &--user-picture {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
    }

    &__content {
        flex: 1;
        margin-left: 2rem;

        &--items {

        }

        &--user-box,
        &--admin-box {
            width: 100%;
            padding: .6rem 1.2rem;
            margin-bottom: .8rem;
            border: 1px solid var(--text-muted-dark);
            border-radius: 3px;
            font-size: var(--font-size-extra-small);
            color: var(--text-muted-light);
        }

        &--user-wrapper,
        &--admin-wrapper {
            width: 70%;
            margin-right: 1.5rem;
            align-items: flex-end;
        }

        &--user {
            margin-bottom: 1.5rem;

            &-box {
                background-color: var(--color-background-dark);
            }
        }

        &--admin {
            margin-bottom: 1.5rem;

            &-box {
                background-color: #202534;
                height: 10rem;
            }

            &-img {

            }
        }

        &--time {
            font-size: var(--font-size-extra-small);           
        }

        &--user-img,
        &--admin-img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }
    }

    &__type {
        width: 100%;

        &--space {
            width: 100%;
            border: none;
            background-color: var(--blue-background);
            border-radius: 20px;
            padding: 1.2rem 2rem;
            margin-right: 2rem;
            color: white;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--text-muted-light);
                font-style: italic;
            }

            &-icon {
                font-size: var(--font-size-extra-large);
                color: var(--blue-background);
            }
        }
    }

    &__text {
        font-size: var(--font-size-extra-small);
    }
}