* {
    margin: 0;
    padding: 0;
}

$bp-largest: 75em;    //1200px; 
$bp-large: 68.75em;    //1100px; 
$bp-medium: 56.25em;    //900px; 
$bp-small: 37.5em;    //600px; 
$bp-smallest: 31.25em;    //500px; 

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;  //1rem = 8px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main {
    min-height: 100%;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.content {
    flex: 1;
    margin: 3rem;
    background-color: var(--color-background-light);
}